<div class="padding-global">
  <div class="container-large">
    <div class="padding-large"></div>
    <div class="padding-section-medium">
      <script src="{{ 'liquify_custom.js' | asset_url }}" type="text/javascript"></script>
      <div li-element="product-variant-container" class="w-layout-grid product-header_layout" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" data-productid="{{ product.id }}" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
        
        <!-- Product Gallery Section -->
        <div x-data="productVariants" data-product-gallery="" class="product-header5_gallery">
          <a href="{{ product.featured_image | img_url: 'large' }}" class="product-header5_lightbox-link w-inline-block w-lightbox">
            <img 
              class="product_main_image" 
              src="{{ product.featured_image | img_url: '1500x1500' }}" 
              alt="{{ product.featured_image.alt | escape }}" 
              data-main-image=""
              loading="lazy"
            >
          </a>
          
          {% if product.images.size > 1 %}
            <div id="w-node-e2c32f2b-853d-c5b5-8ee7-94cbba62ce4d-6bd3e7fd" class="w-layout-layout product_images_additional wf-layout-layout">
              {% for image in product.images offset: 1 %}
                <div id="w-node-e2c32f2b-853d-c5b5-8ee7-94cbba62ce4e-6bd3e7fd" class="w-layout-cell">
                  <a href="{{ image | img_url: 'large' }}" class="product-header5_lightbox-link w-inline-block w-lightbox">
                    <img 
                      class="product-header5_image" 
                      src="{{ image | img_url: '500x500' }}" 
                      alt="{{ image.alt | escape }}"
                      data-variant-image=""
                      loading="lazy"
                    >
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <!-- Product Details Section -->
        <div class="product-header5_product-details">
          <div class="margin-bottom margin-small">
            <div class="breadcrumb_component">
              <a href="https://shop.skinbarandstudio.com/" class="breadcrumb-link w-inline-block">
                <div class="text-size-tiny text-style-label text-style-muted">Shop</div>
              </a>
              <div class="breadcrumb-divider w-embed">
                <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5"></path>
                </svg>
              </div>
              <a href="#" class="breadcrumb-link w-inline-block">
                <div class="text-size-tiny text-style-label">{{ product.vendor }}</div>
              </a>
            </div>
          </div>
          
          <div class="margin-bottom margin-small">
            <div class="product-header5_heading-wrapper">
              <h1 class="heading-style-h3">{{ product.title }}</h1>
              <div class="product-header_price-wrapper">{{ product.price | money }}</div>
            </div>
          </div>
          
          <div class="margin-bottom margin-small">
            <p>{{ product.description }}</p>
          </div>
          
          <!-- Product Form Section -->
          <div class="product-header_form-block w-form">
            {% form 'product', product, class: 'product-header_default-state' %}
              {% if product.has_only_default_variant != true %}
                <div class="product-header_option-list">
                  <template x-for="(option, optionKey) in product.options" :key="optionKey">
                    <div class="product-header_option" data-ProductVariantsLoop="true">
                      <div class="form_field-label" x-text="option">Variant</div>
                      <div class="product-header_radio-list" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" data-productid="{{ product.id }}">
                        <label class="product-header_radio w-radio">
                          <div class="w-form-formradioinput w-form-formradioinput--inputType-custom product-header_radio-button w-radio-input"></div>
                          <input type="radio" style="opacity:0;position:absolute;z-index:-1" x-on:click="setVariant" :name="option" :value="variantName" :id="variantName.toString().normalize('NFD').replace(/[\u0300-\u036f]/g, '').toLowerCase().trim().replace(/\s+/g, '-').replace(/[^\w-]+/g, '').replace(/--+/g, '-')" :checked="selected_or_first_available_variant?.options.includes(variantName)" data-selectorType="radio">
                          <span class="text-size-regular text-weight-semibold w-form-label" x-text="variantName"></span>
                        </label>
                      </div>
                    </div>
                  </template>
                </div>
              {% endif %}
              
              <div class="product-header_add-to-cart-wrapper">
                <template x-if="selected_or_first_available_variant.available">
                  <div class="product-header_buy-wrappper">
                    <input class="form_input is-quantity w-input" type="number" name="quantity" min="1" value="1" x-model="quantity">
                    <a href="#" class="button max-width-full w-button" @click="addToCart(true)" :disabled="!addToCartButton">Add to cart</a>
                  </div>
                </template>
                <template x-if="!selected_or_first_available_variant.available">
                  <div class="product-header_out-of-stock">
                    <a href="#" class="button is-secondary max-width-full pointer-events-off w-button">Not in Stock</a>
                  </div>
                </template>
              </div>
            {% endform %}
          </div>

          <!-- Accordion Section -->
          <div class="product-page_accordion_group">
            <!-- Benefits -->
            <div class="product-page_accordion">
              <div data-w-id="5dd443ad-1c36-f494-4456-3f3453a28e58" class="product-page_accordion_header">
                <div class="text-size-small text-style-tagline text-weight-medium text-style-muted">Benefits</div>
                <div class="icon-accordion">
                  <div class="accordion_icon_plus">
                    <div class="icon-embed-small text-style-muted w-embed">
                      <svg xmlns="http://www.w3.org/2000/svg" width="2" height="14" viewbox="0 0 2 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0L1.5 14H0.5L0.5 0H1.5Z" fill="CurrentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="accordion_icon">
                    <div class="icon-embed-small text-style-muted w-embed">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="2" viewbox="0 0 14 2" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 1.5L-8.74228e-08 1.5L0 0.5L14 0.500001L14 1.5Z" fill="CurrentColor"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-page_accordion_content">
                <div class="margin-bottom margin-small">
                  <p>{{ product.metafields.custom.benefits }}</p>
                </div>
              </div>
            </div>

            <!-- How to Use -->
            <div class="product-page_accordion">
              <div data-w-id="5dd443ad-1c36-f494-4456-3f3453a28e65" class="product-page_accordion_header">
                <div class="text-size-small text-style-tagline text-weight-medium text-style-muted">How to use</div>
                <div class="icon-accordion">
                  <div class="accordion_icon_plus">
                    <div class="icon-embed-small text-style-muted w-embed">
                      <svg xmlns="http://www.w3.org/2000/svg" width="2" height="14" viewbox="0 0 2 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0L1.5 14H0.5L0.5 0H1.5Z" fill="CurrentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="accordion_icon">
                    <div class="icon-embed-small text-style-muted w-embed">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="2" viewbox="0 0 14 2" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 1.5L-8.74228e-08 1.5L0 0.5L14 0.500001L14 1.5Z" fill="CurrentColor"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-page_accordion_content">
                <div class="margin-bottom margin-small">
                  <p>{{ product.metafields.custom.how_to_use }}</p>
                </div>
              </div>
            </div>

            <!-- Product Specs -->
            <div class="product-page_accordion">
              <div data-w-id="5dd443ad-1c36-f494-4456-3f3453a28e72" class="product-page_accordion_header">
                <div class="text-size-small text-style-tagline text-weight-medium text-style-muted">Product Specs</div>
                <div class="icon-accordion">
                  <div class="accordion_icon_plus">
                    <div class="icon-embed-small text-style-muted w-embed">
                      <svg xmlns="http://www.w3.org/2000/svg" width="2" height="14" viewbox="0 0 2 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0L1.5 14H0.5L0.5 0H1.5Z" fill="CurrentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="accordion_icon">
                    <div class="icon-embed-small text-style-muted w-embed">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="2" viewbox="0 0 14 2" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 1.5L-8.74228e-08 1.5L0 0.5L14 0.500001L14 1.5Z" fill="CurrentColor"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-page_accordion_content">
                <div class="margin-bottom margin-small">
                  <p>{{ product.metafields.custom.product_specs }}</p>
                </div>
              </div>
            </div>

            <!-- Ingredients -->
            <div class="product-page_accordion">
              <div data-w-id="5dd443ad-1c36-f494-4456-3f3453a28e7f" class="product-page_accordion_header">
                <div class="text-size-small text-style-tagline text-weight-medium text-style-muted">Ingredients</div>
                <div class="icon-accordion">
                  <div class="accordion_icon_plus">
                    <div class="icon-embed-small text-style-muted w-embed">
                      <svg xmlns="http://www.w3.org/2000/svg" width="2" height="14" viewbox="0 0 2 14" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0L1.5 14H0.5L0.5 0H1.5Z" fill="CurrentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="accordion_icon">
                    <div class="icon-embed-small text-style-muted w-embed">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="2" viewbox="0 0 14 2" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 1.5L-8.74228e-08 1.5L0 0.5L14 0.500001L14 1.5Z" fill="CurrentColor"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-page_accordion_content">
                <div class="margin-bottom margin-small">
                  <p>{{ product.metafields.custom.ingredients }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "tag":"header",
  "name":"Product-Hero",
  "class":"section_product-header",
  "presets":[
    {
      "name":"Product-Hero",
      "category":"Liquify"
    }
  ]
}
{% endschema %}