<div id="rescuemd" class="padding-global padding-section-medium"><div class="container-large"><div id="w-node-_73299723-c0f8-6168-ca75-7ecf374c5f90-6bd3e787" class="w-layout-layout shop_products_grid padding-horizontal padding-large wf-layout-layout"><div id="w-node-_73299723-c0f8-6168-ca75-7ecf374c5f91-6bd3e787" class="w-layout-cell"><div class="shop_heading_wrapper is-wide"><div class="shop_heading"><div class="max-width-large"><div class="margin-bottom margin-small"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
</div></div><div class="text-size-regular-2"> {{ section.settings.richtext_text }} </div>
</div></div></div>{% for product in section.settings.collection_collection.products limit: section.settings.collection_collection_limit %}
<div id="w-node-_73299723-c0f8-6168-ca75-7ecf374c5f92-6bd3e787" class="w-layout-cell product_list-item">
    
    <div class="product-item_component"><div class="product-item_image-link"><a li-object:href="product.url" href="{{ product.url }}" class="product-item_image-wrapper is_wide w-inline-block"><img li-object:src="product.featured_image | img_url: 'master'" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | img_url: 'master' }}" loading="lazy" class="product-item_image">
<div class="product-item_tag_list">{% if product.selected_or_first_available_variant.available != true %}    <div li-if="product.selected_or_first_available_variant.available != true" class="product-item_tag">
    Not in Stock    </div>
{% endif %}{% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price" class="product-item_tag is-red">
    Sale    </div>
{% endif %}</div></a></div><a li-object:href="product.url" href="{{ product.url }}" class="product-item_text-link w-inline-block"><div class="product-item_left"><div li-object="product.vendor" class="product-caption-brand">{{ product.vendor }}</div><div class="w-layout-hflex product-item-main-info"><div li-object="product.title" class="text-size-regular">{{ product.title }}</div><div class="product-item_price">{% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price">
    <div li-object="product.compare_at_price | money" class="text-size-regular text-style-strikethrough text-style-muted">{{ product.compare_at_price | money }}</div>    </div>
{% endif %}<div li-object="product.price | money" class="text-size-regular">{{ product.price | money }}</div></div></div></div></a></div>
    
</div>
{% endfor %}
</div></div></div> {% schema %} {"tag":"section","name":"RescueMD","class":"section_product","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Rescuemd"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>Shop our curated selection of skin care products to bring the Skin Bar and Studio experience home.<br\/><\/p>"},{"id":"collection_collection","type":"collection","label":"Collection"},{"type":"range","id":"collection_collection_limit","min":1,"max":99,"step":1,"label":"Limit: Collection","default":6}],"presets":[{"name":"RescueMD","category":"Liquify"}]} {% endschema %}